body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dad5d5df;
    margin: 0;
    padding: 0;
}

h1 {
    color: #050505;
    background-color: #f30303b5;
    margin-top: 0;
    padding: 2rem 0;
}
h2{
    color: #333;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

.output{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}
#resetButton{
    margin-top: 2rem;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(230, 191, 14, 0.848);
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
#resetButton:hover{
    cursor: pointer;
    transform: scale(1.1);
}